@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 4350px;
}



.home_header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 5000;
    background: #000;
    width: 100%;
    height: 100px;
}

.home_header .logo{
    /* border: 1px solid blue; */
    width: 70px;
    height: 70px;
    margin-left: 40px;
    margin-top: 15px;
   /* border: 1px solid skyblue; */
   /* vertical-align: top; */
}

.home_header .logo > a{
    /* vertical-align: top; */
    display: inline-block;
    /* margin: 0 auto; */
    /* padding-left: 300px ; */
    width: 70px;
    height: 70px;
    background: url(../img/toroarty.svg) no-repeat;
}


.home ul{
    /* vertical-align: top; */
    position: absolute;
    top:50%; transform: translateY(-50%);
    padding:0;
    margin:0;
    /* margin-left: 400px; */
    right: 0;
    
}

.home ul li{
    list-style: none;
    display: inline-block;
    margin: 0 70px 0 40px;
    font-weight: 700;
    /* vertical-align: top; */
    /* text-decoration: none; */
}


.home ul li a{
    text-decoration: none;
    color: white;
}


.home ul li a:visited{
    color: white;
}

.home ul li a:hover{
    color:orange;
}


/* 헤더 */


.section1{
    width: 100%;
    height: 500px;
}

.header_img{
    margin-top: 30px;
    background-image: url("../img/2.jpg");
     background-repeat: no-repeat;
     background-attachment : fixed;
     height: 500px;
     background-size: 100%;
     transform: translateY(-100px);
     position: relative;
     /* width: 100%; */
    /* background-repeat: no-repeat; */
}


.section1 p{
    /* margin: 0; */
    top: 140px;
    left: 190px;
    position: absolute;
    z-index: 2000;
    color: #fff;
    /* color: white; */
    /* background-color: white; */
}

/* section1 */

.section2{
    text-align: center;
}

.section2 p{
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 30px;
}

/* section2 */

.section3{
    margin-top: 150px;
    padding: 100px 0 100px 0;
    background: #eee;
    text-align: center;
}

.section3_img{
    width: 80%;
}

/* section3 */


.section4{
    overflow: hidden;
    /* border: 1px solid red; */
    height: 780px;
    margin-top: 70px;
}

.section4 img{
    width: 110%;
    transform: translateX(-65px);
}

/* section4 */

.section5{
    margin-top: 50px;
}

/* section5 */

.section6{
    margin-top: 150px;
    text-align: center;
}

/* section6 */

.name{
    font-weight: 600;
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 150px;
    margin-left: 100px;
}